@font-face {
    font-family: 'Intro';
    src: url('IntroBold.eot');
    src: url('IntroBold.eot?#iefix') format('embedded-opentype'),
        url('IntroBold.woff2') format('woff2'),
        url('IntroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro';
    src: url('Intro-Book.eot');
    src: url('Intro-Book.eot?#iefix') format('embedded-opentype'),
        url('Intro-Book.woff2') format('woff2'),
        url('Intro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

